<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Puppy Display</title>
  </head>
  <body>
    <%= "Puppy Name: #{params[:name]}" %>
    <%= "Puppy Age: #{params[:age]}" %>
    <%= "Puppy Breed: #{params[:breed]}" %>
  </body>
</html>
